:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --white-text-color: #FFFFFF;
    --adrress-link-color: rgba(255, 255, 255, 0.6);
    --button-bgc: #F5F4FA;
    --logo-color-primary: #000000;
}

body {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}

/* .logo {
    font-family: Raleway, sans-serif;
} */

.logo.accent {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo.primary {
    color: var(--logo-color-primary);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo.secondary {
    color: var(--white-text-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

/* site-nav */
.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.curent {
    color: var(--accent-color);
    
}
/* site-contact */

.site-contact .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* section */

.section {
    margin-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato
}

.hero .container {
    padding-bottom: 94px;
    padding-top: 186px;
}

.section.bgc {
    background-color: var(--background-color);
    text-align: center;
}

.section-title.color {
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
    padding-top: 200px;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* hero */

.hero {
    background-color: var(--button-bgc);
}

.hero-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.hero-name {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
/* features */

.feature-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title {
    margin-bottom: 10px;
}

/* footer */

.address {
    background-color: var(--background-color);
}

.footer.list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address .gps {
    color: var(--white-text-color);
}

.address .link {
    color: var(--adrress-link-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

/* button */

.button {
    color: var(--title-text-color);
    background-color: var(--white-text-color);
    
    font-family: inherit;

    display: inline-block;

    border: none;
}

.button.primary {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200;

}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--button-bgc);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* products */

.product {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}